@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

@font-face {
    font-family: 'comic_neue_angularbold';
    src: url('./assets/fonts/comicneue-angular-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/comicneue-angular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothicregular';
    src: url('./assets/fonts/hwygoth-webfont.woff2') format('woff2'),
         url('./assets/fonts/hwygoth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --zlhm: 1vh;
    --zlwm: 1vw;
    --dark: #070E16;
    --dark-hardly-transparent: #070E16C7;
    --dark-semi-transparent: #070E1680;
    --dark-almost-transparent: #070E1645;
    --transparent: #00000000;
    --light: #ebebeb;
    --ff-blue: #718e9a;
    --ff-sand: #ccc598;
    --ff-dull-sand: #9e9a63;
    --ff-duller-sand: #848066;
    --ff-violet: #9d80a2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
}

button, span, img, li, ::before, ::after {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

input::placeholder {
    color: #00000075;
}

::-webkit-scrollbar-thumb {
    background-color: #00000075;
}

.portrait .weaponBox {
    height: 45% !important;
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.tooltip {
    position: absolute;
    left: 50%;
    bottom: 127.5%;
    padding: 10%;
    border-radius: 4.7% / 15%;
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'highway_gothicregular';
    font-size: calc(var(--zlhm) * 1.75);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    transform: translate(-50%);
    transition: visibility 0.15s, opacity 0.15s;
}

*:hover > .tooltip, *:focus > .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 5%;
    background-color: var(--dark);
    transform: translate(-50%) rotate(45deg);
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

.slotOpen .eqSlotDDButton::after {
    transform: scaleY(-1);
}

.slotOpen .dropdown {
    opacity: 1;
    visibility: visible;
}

.dropdown ul.no-scrollbar li {
    width: 100% !important;
}

li.lastItem {
    margin-bottom: 0 !important;
}