@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

@font-face {
    font-family: 'comic_neue_angularbold';
    src: url('./assets/fonts/comicneue-angular-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/comicneue-angular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothicregular';
    src: url('./assets/fonts/hwygoth-webfont.woff2') format('woff2'),
         url('./assets/fonts/hwygoth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --zlhm: 1vh;
    --zlwm: 1vw;
    --dark: #070E16;
    --dark-hardly-transparent: #070E16C7;
    --dark-semi-transparent: #070E1680;
    --dark-almost-transparent: #070E1645;
    --transparent: #00000000;
    --light: #dfdfdf;
    --ff-blue: #718e9a;
    --ff-sand: #ccc598;
    --ff-dull-sand: #9e9a63;
    --ff-duller-sand: #848066;
    --ff-violet: #9d80a2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
}

button, span, img, li, ::before, ::after {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

input::placeholder {
    color: #00000075;
}

::-webkit-scrollbar-thumb {
    background-color: #00000075;
}

.portrait .weaponBox {
    height: 45% !important;
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.tooltip {
    position: absolute;
    padding: 10%;
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark);
    color: var(--light);
    border-radius: calc(var(--zlhm) * 0.4);
    font-family: 'highway_gothicregular';
    font-size: calc(var(--zlhm) * 1.75);
    text-align: center;
    pointer-events: none;
    transition: visibility 0.15s, opacity 0.15s;
}

.eqSlotIcon .tooltip {
    font-size: calc(var(--zlhm) * 1.55);
}

.tooltip#top {
    left: 50%;
    bottom: 127.5%;
    white-space: nowrap;
    transform: translate(-50%);
}

.tooltip#left {
    top: 50%;
    right: 120%;
    transform: translate(0, -50%);
}

*:hover > .tooltip, *:focus > .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip::after {
    content: "";
    position: absolute;
    padding: calc(var(--zlhm) * 0.6);
    background-color: var(--dark);
    z-index: -1;
}

.tooltip#top::after {
    left: 50%;
    bottom: -7.5%;
    transform: translate(-50%) rotate(45deg);
}

.tooltip#left::after {
    top: 50%;
    right: -5%;
    transform: translate(0, -50%) rotate(45deg);
}

.ddButton {
    display: flex;
    height: 100%;
    width: fit-content;
    font-family: "comic_neue_angularbold";
    font-size: calc(var(--zlhm) * 4.25);
    color: var(--dark-almost-transparent);
    transition: color 0.1s ease;
}

.ddButton:hover, .ddButton:focus, .slotOpen .ddButton {
    color: var(--dark-semi-transparent);
}

.slotOpen .ddButton:hover, .slotOpen .ddButton:focus {
    color: var(--dark-hardly-transparent);
}

.ddButton > iconify-icon {
    transition: transform 0.25s ease;
}

.dropdown {
    background: repeating-linear-gradient(
        -45deg,
        #00000008,
        #00000008 0.5%,
        var(--ff-sand) 0,
        var(--ff-sand) 3.5%
    );
    background-color: var(--ff-sand);
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 1%;
    border: calc(var(--zlhm) * 0.5) solid #00000075;
    border-radius: calc(var(--zlhm));
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 calc(var(--zlhm) * 0.75) calc(var(--zlhm) * 1.375)
        var(--dark-semi-transparent);
    font-family: "highway_gothicregular";
    transition: visibility 0.15s, opacity 0.15s ease;
    z-index: 2;
}

.gearBox .dropdown {
    padding: 1.5%;
}

.armorBox .dropdown {
    width: 45%;
    margin-top: 12.5%;
}

.gearBox .dropdown {
    width: 65%;
    top: 50%;
    right: 99%;
    transform: translate(0, -50%);
}

.slotOpen .eqSlotDDButton::after {
    transform: scaleY(-1);
}

.slotOpen .dropdown {
    opacity: 1;
    visibility: visible;
}

.dropdown li {
    height: 23.25%;
    width: 97.5%;
    margin-bottom: 2.5%;
}

.dropdown li.selectedItem > button {
    background-color: #00000050;
}

.dropdown li > button {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: calc(var(--zlhm) * 0.625);
    transition: background 0.25s;
}

.dropdown li > button:hover,
.dropdown li > button:focus {
    background-color: #00000035;
}

.dropdown li.selectedItem > button:hover,
.dropdown li.selectedItem > button:focus {
    background-color: #00000075;
}

.dropdown li > button > img {
    height: 100%;
    padding: 2.5%;
    margin-right: 2.5%;
}

.dropdown li > button > span {
    padding-right: 5%;
    font-size: calc(var(--zlhm) * 2.1);
}

.dropdown ul.no-scrollbar li {
    width: 100% !important;
}

.dropdown li.lastItem {
    margin-bottom: 0 !important;
}

.dropdown li.duplicate {
    opacity: 0.35;
    pointer-events: none;
}