@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

@font-face {
    font-family: 'comic_neue_angularbold';
    src: url('./assets/fonts/comicneue-angular-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/comicneue-angular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothicregular';
    src: url('./assets/fonts/hwygoth-webfont.woff2') format('woff2'),
         url('./assets/fonts/hwygoth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark: #070E16;
    --dark-hardly-transparent: #070E16C7;
    --dark-semi-transparent: #070E1680;
    --dark-almost-transparent: #070E1645;
    --transparent: #00000000;
    --ff-blue: #718e9a;
    --ff-sand: #ccc598;
    --ff-dull-sand: #9e9a63;
    --ff-duller-sand: #848066;
    --ff-violet: #9d80a2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    all: unset;
}

button, span, img, ::before, ::after {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

.active .eqSlotDDButton::after {
    transform: scaleY(-1);
}

.active .dropdown {
    opacity: 1;
    visibility: visible;
}